/*=========================================================================
	MAIN.CSS STYLESHEET
					
		Erick Fernandez de Arteaga
=========================================================================*/

/*=========================================================================
	Page Setup
=========================================================================*/
* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #ccc;
	color: #000;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
}

header {
	background-color: #000;
	color: #fff;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
}

#title {}

#subtitle {}

body {
    font-size: 1em;
    margin-left: 10%;
    margin-right: 10%;
}

#nav {}

footer {
}

footer hr {
    border: 0;
    box-shadow: inset 0 0.75em 0.75em -0.75em rgba(0,0,0,0.5);
    height: 0.5em;
}

#copyright {
	padding: 0.5em 1em 1em;
	text-align: right;
}

/*=========================================================================
	Headers
=========================================================================*/
h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

/*=========================================================================
	Special Text Styles
=========================================================================*/
.plainText {font-style: normal; font-weight: normal; text-decoration: none;}

.bold {font-weight: bold;}

.oblique {font-style: oblique;}

.alignLeft {text-align: left;}

.alignRight {text-align: right;}

.alignCenter {text-align: center;}

.inline {display: inline;}

.block {display: block;}

.floatLeft {float: left;}

.floatRight {float: right;}

.hidden {display: none;}

.systemMessage {color: blue;}

.error {color: red;}

/*=========================================================================
	Hyperlinks
=========================================================================*/
a{text-decoration: none; font-weight: bold;}
a:link {color: #518dd7;}
a:visited {color: #285893;}
a:hover {color: #51b6d7;}
a:active {color: #8ad8f1;}

/*=========================================================================
	Images
=========================================================================*/

/*=========================================================================
	Tables
=========================================================================*/
